spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: ${WITCHDB_URL}

  mail:
    host: smtp.gmail.com
    port: 587
    username: witchblog13@gmail.com
    password: ${WITCH_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - profile
          facebook:
            clientId: ${FACEBOOK_CLIENT_ID}
            clientSecret: ${FACEBOOK_CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
              - email
              - public_profile
        provider:
          facebook:
            authorizationUri: https://www.facebook.com/v3.0/dialog/oauth
            tokenUri: https://graph.facebook.com/v3.0/oauth/access_token
            userInfoUri: https://graph.facebook.com/v3.0/me?fields=id,first_name,last_name,name,email

app:
  cors:
    allowedOrigins: https://witchblog.azurewebsites.net

  oauth2:
    authorizedRedirectUris:
      - https://witchblog.azurewebsites.net/api/v1/test/all
      - https://witchblog.azurewebsites.net/api/v1/auth/oauth2/token
      - http://localhost:3000
      - http://localhost:3000/users/profile
      - http://localhost:8080/api/v1/auth/oauth2/token


  mail:
    expirationTimeInMin: 15
    confrimationLink: https://witchblog.azurewebsites.net/api/v1/auth/confirm?token=

  tokenJWT:
    expirationTimeInMs: 43200000
    secret: ${JWT_SECRET}
