spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: ${WITCHDB_URL}

  mail:
    host: smtp.gmail.com
    port: 587
    username: witchblog13@gmail.com
    password: ${WITCH_MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            redirectUri: "{baseUrl}/oauth2/callback/{registrationId}"
            scope:
            - email
            - profile

app:
  cors:
    allowedOrigins: https://witchblog.azurewebsites.net

  oauth2:
    authorizedRedirectUris:
      - https://witchblog.azurewebsites.net/api/v1/test/all
      - https://witchblog.azurewebsites.net/api/v1/auth/oauth2/token
      - http://localhost:3000
      - http://localhost:3000/users/profile

  mail:
    expirationTimeInMin: 15
    confrimationLink: https://witchblog.azurewebsites.net/api/v1/auth/confirm?token=

  tokenJWT:
    expirationTimeInMs: 43200000
    secret: ${JWT_SECRET}